menu "Console"
    source "$NXOS_SRC_DIR/Mods/Console/Kconfig"
endmenu

menu "Time"
    source "$NXOS_SRC_DIR/Mods/Time/Kconfig"
endmenu

menu "Drivers"
    source "$NXOS_SRC_DIR/Mods/Drivers/Kconfig"
endmenu

menu "Test"
    source "$NXOS_SRC_DIR/Mods/Test/Kconfig"
endmenu

menu "Demo"
    source "$NXOS_SRC_DIR/Mods/Demo/Kconfig"
endmenu
