#
# Kconfig for NXOS source code.
#

#
# CPU 64 bits width
#
config NX_CPU_64BITS
    bool 
    default n

menu "OS Kernel"
    #
    # Init
    #
    source "$NXOS_SRC_DIR/Init/Kconfig"

    #
    # IO
    #
    source "$NXOS_SRC_DIR/IO/Kconfig"
    
    #
    # IPC
    #
    source "$NXOS_SRC_DIR/IPC/Kconfig"
    
    #
    # MM
    #
    source "$NXOS_SRC_DIR/MM/Kconfig"

    #
    # Sched
    #
    source "$NXOS_SRC_DIR/Sched/Kconfig"    
endmenu

#
# platfrom select
#
menu "Platform"
    source "$NXOS_SRC_DIR/Platforms/Kconfig"
endmenu

#
# Mods
#
menu "Modules"
    source "$NXOS_SRC_DIR/Mods/Kconfig"
endmenu

#
# Utils
#
menu "Utils"
    source "$NXOS_SRC_DIR/Utils/Kconfig"
endmenu

#
# Tests
#
menu "Tests"
    source "$NXOS_SRC_DIR/Tests/Kconfig"
endmenu
